<%- partial('_partial/head') %>
<body>
  <div id="container">
    <%- partial('_partial/header') %>
    <div id="main">
      <%- body %>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </div>
  <% if (theme.katex && theme.katex.enable) { %>
    <% if (!is_tag() && !is_category() && !is_archive()) { %>
      <%- include('_partial/third-party/katex'); %>
    <% } %>  
  <% } %>
</body>
</html>